@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg: #0E1129;
  --gradient: -webkit-linear-gradient(#77a1d3, #79cbca, #e684ae);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  position: relative;
  color: white;
  font-family: 'Roboto', sans-serif;;
}